<div id="flow">
    <h2>Authorization Code Grant</h2>
    <p>
        The authorization code grant is the most secure grant type for user
    driven authorization. This grant type consists of a two channels; the front
    and back channels. Redirects in the user's browser comprise the 
    front-channel. This is needed to make sure the user is only entering credentials
    into their IDP and that they are informed of the action. The back-channel is
    a normal server to server connection between the 'client' and the 'idp',
    this allows for the exchange of secrets (the client secret and the user token).
    </p>

    <form method="POST" action="/authorization-code/login">
        <div>

            <div>
                {{authorize_url}}?
            </div>

            <div>
                <label>client_id=</label>
                <input id="client_id" name="client_id" value="{{client_id_web}}"/>
            </div>
            <div>
                <label>&response_type=</label>
                <input id="code" name="code" value="{{response_type}}"/>
            </div>
            <div>
                <label>&redirect_uri=</label>
                <input id="redirect_uri" name="redirect_uri" value="{{redirect_uri}}"/>
            </div>
            <div>
                <label>&state=</label>
                <input id="state" name="state" value="{{state}}"/>
            </div>
            <div>
                <label>&nonce=</label>
                <input id="nonce" name="nounce" value="{{nonce}}"/>
            </div>
            <div>
                <label>&scope=</label>
                <input type="text" value="{{scope}}" id="scope" name="scope">
            </div>
        </div>

        <div>
            <input type="submit" class="linkButton" value="Begin"/>
        </div>
    </form>
</div>