<div class="flow contained">
    <h2>Token Verification</h2>
    <p>
        Signed JSON Web Tokens (JWTs) are verified by retrieving the public keys of
    the issuer to check the validity of the signature, checking the expiry claim
    (exp) on the token and checking the audience is correct for the validating
    service.
    </p>

    <p>
        Our tokens are issued by {{issuer}}. We can find the public keys of this IDP
        by checking 
        <a href="{{issuer}}/.well-known/oauth-authorization-server">the .well-known endpoint</a>. Within this we can look for
        the jwks_uri statement to find the public keys of the server, <a
        href="{{issuer}}/v1/keys">here.</a>
    </p>

    <div class="callExplainer">
        <div class="callExplanation">
            Verification Expects <br/>
            {{issuer}}<br/>
            {{audience}}<br/>
            {{current_time}}<br/>
            {{current_time}}
        </div>

        <div class="callLinker">
            <br/>
            matches <i class="fas fa-long-arrow-alt-right"></i><br/>
            matches <i class="fas fa-long-arrow-alt-right"></i><br/>
            is after <i class="fas fa-long-arrow-alt-right"></i><br/>
            is before <i class="fas fa-long-arrow-alt-right"></i>
        </div>

        <div class="callDetail">
            Access Token Contains<br/>
            {{issuer}}<br/>
            {{audience}}<br/>
            {{iat}}<br/>
            {{expiry}}
        </div>
    </div>
    <div>
        <a class="linkButton" href="/verify/submit">Perform verification</a>
    </div>
</div>